{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}SportSphere{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <!-- Header / Navbar -->
  <header class="navbar">
    <div class="container">
      <a href="{% url 'academy:home' %}" class="logo">SportSphere</a>

      <nav class="nav-links">
        {% if user.is_authenticated %}
      
          {% if user.role == 'admin' %}
            <a href="{% url 'accounts:user_list' %}">Dashboard</a>
            <a href="{% url 'accounts:add_user' %}">+ Add User</a>
            <a href="{% url 'academy:program_create' %}">+ Create Program</a>
          {% endif %}
      
          {% if user.role == 'coach' %}
            <a href="{% url 'academy:program_create' %}">+ Create Program</a>
            <a href="{% url 'academy:coach_dashboard' %}">Dashboard</a>
          {% endif %}
      
          {% if user.role == 'parent' %}
            <a href="{% url 'academy:child_list' %}">My Children</a>
            <a href="{% url 'academy:child_create' %}">+ Add Child</a>
          {% endif %}

          {% if user.role == 'parent' or user.role == 'coach' %}
            <a class="nav-link" href="{% url 'academy:inbox' %}">Inbox</a>
          {% endif %}

      
          <span>Welcome, {{ user.first_name }}</span>
          <a href="{% url 'accounts:logout' %}">Logout</a>
      
        {% else %}
          <a href="{% url 'accounts:login' %}">Login</a>
          <a href="{% url 'accounts:register' %}">Register</a>
        {% endif %}
      </nav>      
          
    </div>
  </header>

  <script>
    setTimeout(() => {
      const messages = document.getElementById('floating-messages');
      if (messages) messages.style.display = 'none';
    }, 3500);
  </script>
  
  <!-- Page Content -->
  <main class="main-content">
    {% if messages %}
      <div id="floating-messages">
        {% for message in messages %}
          <div class="toast-message {{ message.tags }}">
          {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer text-center py-3">
    <p>&copy; 2025 SportSphere. All rights reserved.</p>
  </footer>
  
  
</body>
</html>
