<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">SportSphere</a>

    <div class="ms-auto">
      {% if user.is_authenticated and user.role in 'admin coach' %}
      <a
        href="{% url 'academy:program_create' %}"
        class="btn btn-outline-light btn-sm me-2"
        >Create Program</a
      >
      {% endif %} {% if user.is_authenticated and user.role in 'admin coach' %}
      <a
        href="{% url 'academy:pending_enrollments' %}"
        class="btn btn-outline-light btn-sm me-2"
        >Approve Enrollments</a
      >
      {% endif %} {% if user.is_authenticated %}
      <a
        href="{% url 'accounts:dashboard' %}"
        class="btn btn-outline-light btn-sm me-2"
        >Dashboard</a
      >
      {% endif %} {% if user.is_authenticated and user.role == 'parent' %}
      <a
        class="btn btn-outline-light btn-sm me-2"
        href="{% url 'accounts:player_list' %}"
        >My Players</a
      >
      {% endif %} {% if user.is_authenticated %}
      <span class="text-white me-2">Hi, {{ user.username }}</span>
      <a class="btn btn-outline-light btn-sm" href="{% url 'accounts:logout' %}"
        >Logout</a
      >
      {% else %}

      <a
        class="btn btn-outline-light btn-sm me-2"
        href="{% url 'accounts:login' %}"
        >Login</a
      >
      <a class="btn btn-light btn-sm" href="{% url 'accounts:register' %}"
        >Register</a
      >
      {% endif %}
    </div>
  </div>
</nav>
